
<nav class="navbar navbar-expand-lg navbar-light bg-danger ">
    <br>
    <div class="container-fluid justify-content-center">
      <div  style="background: #FFA92F; color: white; font-size: 14px; height: 75px; width: 300px;">
        <marquee behavior="alternate" direction="left" scrollamount="2"><span style="float: left; font-family: Oswald, Arial; padding: 0 0 0 2px;">{{showAd}}</span></marquee><marquee behavior="alternate" direction="right" scrollamount="2"><span style="float: right; padding: 0 2px 0 0;"><a href="https://www.techprevue.com">CLICK HERE</a></span></marquee>
        <span style="background: #FFF; color: #ffa92f; float: left;">Order Now: +91-876567XXXX</span><div style="float: right; font-size: xx-small;">
        Ads by <span style="background: #FFF; color: #ffa92f;">Soltan</span></div>
        </div>
      <!-- <div>
    <img src="assets/kara.png" width="200" class="img-fluid">
  </div>--> 
    </div>
  </nav>







