
<br>
<form [formGroup]="loginform" (ngSubmit)="onSubmit()"> 
    <div class="mb-3">
      <label for="email" [hidden]="isUserLogged" class="form-label">Enter your email</label>
      <input type="email" [hidden]="isUserLogged"  formControlName="Email"  [class.is-invalid]="loginform.controls['Email'].invalid" [class.is-valid]="loginform.controls['Email'].valid" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
      <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="mb-3">
      <label for="pass" [hidden]="isUserLogged" class="form-label">Enter Password</label>
      <input type="password" [hidden]="isUserLogged" [class.is-invalid]="loginform.controls['Password'].invalid" [class.is-valid]="loginform.controls['Password'].valid" formControlName="Password" class="form-control" name="" id="pass" placeholder="">
    </div>

    <button type="submit" [hidden]="isUserLogged" [disabled]="loginform.invalid" class="btn btn-primary">Submit</button>
</form>
<hr>

<div class="d-grid gap-2">
  <button type="button" [disabled]="isUserLogged" name="" id="" class="btn btn-primary" (click)="login()"> Login</button>
</div>

<div class="d-grid gap-2">
    <button type="button" name="" [disabled]="!isUserLogged"  id="" class="btn btn-primary" (click)="logout()"> Logout</button>
  </div>
  <br>
  <a name="" id=""  [hidden]="!isUserLogged"  class="btn btn-primary" routerLink="/User/MyProfile" href="#" role="button">Go To YourProfile</a>